<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
         .hoverhandle {
             width: 300px;
             height: 200px;
             background-color: #055005;
             transition: .3s ease;
         }

        .hoverhandle:hover {
            transform: translateX(100px);
            background-color: aqua;
        }

        /*transition applied when being shown*/
        .slide-fade-enter-active {
            transition: all 1s ease;
        }

        /*transition applied when being hidden */
        .slide-fade-leave-active {
            transition: all .5s ease;
        }

        /* what are the balues it will be transitioning to and from */
        .slide-fade-enter, .slide-fade-leave-to {
            transform:translateX(10px);
            opacity: 0;
        }

        .pointer {
            height: 15px;
            background-color: #333;
        }

    </style>
</head>
<body>

    <div id="app">

        <button v-on:click="showing = !showing">Show or Hide.</button>

        <transition name="slide-fade" tag="div">
            <div v-if="showing">I come in peace!</div>
        </transition>

        <weather-meter></weather-meter>
    </div>

    <div class="hoverhandle"}>
        Hover over me
    </div>

    <script type="text/x-template" id="weather-meter-template">
    <div>
        Today's high: {{ high }}
        <div class="pointer" v-bind:style="{width: shownHigh+'px' }"></div>
        How we feel about this: {{ ourFeelings }}
    </div>
</script>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.4/vue.min.js"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.1/TweenMax.min.js"></script>
    <script src= "js/app.js" type="text/javascript"></script>

</body>
</html>